<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagano - Get Started</title>
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename="css/getStarted.css")}}>
</head>


<body>
  <header>
    <div class="logo">
      <h1>Diagano.Ai</h1>
      <p>Early Detection for Better Health</p>
    </div>
  </header>

  <main>
    <section class="intro">
      <h1>Welcome to Diagano.Ai</h1>
      <p>Your journey towards better kidney health starts here. Lorem, ipsum dolor.<br>
         Detect kidney stones early and monitor your health. Lorem, ipsum.<br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <a href="/login"><button>Get Started</button></a>
    </section>
  </main>


</body>

</html>